#============================== Configuration Apache TomCat
server:
  port: 8081
#============================== Configuration Logging
logging:
  file: /tmp/log/user.log
  level:
    root: INFO
    org.springframework: INFO
    guru.springframework.controllers: INFO
    org.hibernate: INFO
    com.trl.user: DEBUG

spring:
  profiles.active: dev
  application:
    name: user

  #============================== Configuration Eureka Client
  eureka:
    client:
      serviceUrl:
        defaultZone: http://localhost:8761/eureka/

  #============================== Configuration PostgreSQL
  datasource:
    username: developer
    password: 1,5Lht.nt!o0#
    url: jdbc:postgresql://localhost/user

  #============================== Configuration JPA
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
#    database-platform: org.hibernate.dialect.H2Dialect

#  #============================== Configuration H2
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
#      settings:
#        web-allow-others: true
#
#  datasource:
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:mem:user